*{
	margin: 0;
	padding: 0;
}
body {
  	font-size: 14px;
	color: #fff; 
  	background-color: #ffffff;
  	font-family: 'Raleway', sans-serif;
	background-image: -webkit-linear-gradient(90deg, #353541,#353541 23%,#fff 23%, #fff);
	background-image: -moz-linear-gradient(90deg, #353541,#353541 23%,#fff 23%, #fff);
	background-image: -o-linear-gradient(90deg, #353541,#353541 23%,#fff 23%, #fff);
	background-image: -ms-linear-gradient(90deg, #353541,#353541 23%,#fff 23%, #fff);
	background-image: linear-gradient(90deg, #353541,#353541 23%,#fff 23%, #fff);
}
.profile, .main{
	position: relative;
  	min-height: 1px;
  	float: left;
}

/*PROFILE*/
.profile{
	width:23%;
	height: 100%;
	background: #353541;  
	position: relative;
  	min-height: 1px;
  	float: left;
}
#portrait {
  	background: url('../images/Portrait.jpg') no-repeat center center;
    background-size: cover;
    height: 220px;
    position: relative;
}
#portrait div {
	position: absolute;
	left: 30px;
	bottom: 0px;
}
#portrait p {
	font-size: 16;
}
.btn-close {
	position: absolute;
	top: 10px;
	left: 20px;
}
.sidenav {
    background-color: #353541;
    height: 100%;
    width: 100%;
    position: relative;
  	min-height: 1px;
  	float: left;
}
.nav > li > a {
	color: #fff;
    border-bottom: 1px solid #242431;
    padding: 15px 30px;
    font-size: 22px;
}

/** HEADER **/
.main{
	width: 77%;
	position: relative;
}
#content-header p {
	margin-top: 25px;
	margin-bottom: 50px;
}
#content-header{
	position: absolute;
	left: 50%; 
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.box{
	border: 1px solid #fb6470;
	background-color: #fb6470;
	bottom: 15px;
}
#header .box {
	border-radius: 4px;
	padding: 20px 45px 20px 45px;
	font-size: 22px;
}
#header {
	background: url('../images/Header.jpg') no-repeat center center;
  	background-size: cover;
  	height: 440px;
  	position: relative;
}
/* END HEADER */

div.main article, #my-skills{
	padding: 80px 85px 0 95px;
}
div.main li{
	list-style:none;
}
div.main div.entry{
	padding: 0 10px 85px 20px;
	border-bottom: 1px solid #e5e5e5;
}
div.main div.entry h2{
	font: normal 32px;
	color: #3e3e3e;
	padding: 18px 0 20px 0;
	margin-bottom: 35px;
	position: relative;
	top: 0;
	left: 0;
}
div.main div.entry h2:after{
	content:"";
	display:block;
	border: 1px solid #fb6470;
	width: 75px;
	position: absolute;
	left: 0;
	bottom:0;
}
#about-me p{
	font: normal 14px;
	color: #747474;
	margin-bottom: 25px;
}
#about-me li{
	background-color:#f9f9f9;
	font: normal 18px;
	color: #3e3e3e;
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 0;
}
#about-me li .em{
	font-family:;
}
#about-me div{
	width: 50%;
	float: left;
}
#about-me #image{
	height: 497px;
	background-color:#353541;
	width: 40%;
	margin-left: 10%;
}
#about-me:after{
	content:"";
	display:block;
	clear:both;
}

/* FOOTER */
footer{
	padding-top: 80px;
}
#message{
	width: 45%;
	float: left;
	position: relative;
	padding-bottom: 80px;
} 
#message div:nth-child(2){
	border-right: 1px solid #cccccc; 		
	padding: 30px 80px 15px 115px; 
}
footer h4 {
	color: black;
	margin-bottom: -10px;
	font-size: 22px;
	margin-left: 115px;
}
footer .form-control{
	margin-bottom: 20px; 
    border-radius: 0px;
   	border-color: black;
}
footer input:nth-child(3){
	height: 100px;
	padding-bottom: 74px;
}
footer .box {
	padding: 12px 18px;
	font-size: 16px;

}
#message div:nth-child(3) {
	text-align: right;
	margin-right: 80px;
}
footer ul{
	float:left;
	color: #3e3e3e;

}
footer ul li img, footer ul li div{
	float: left;
}
footer ul li{
	list-style: none;
	overflow: hidden;
	padding: 10px 50px;
}
footer ul li h4, footer ul li p, footer ul li img{
	margin: 15px auto 15px 10px;
}
footer ul li h4{
	font-size: 18px;
}
footer ul li p{
	font-size: 14px;
}
footer > div:nth-child(3){
	clear: both;
	border-top: 1px solid #cccccc;
	margin-left: 90px;
	margin-right: 80px;
	text-align: center;
	padding-top: 30px;
}
footer > div > p{
	size: 12px;
	color: #3e3e3e;
	margin: 10px auto 30px; 
}
footer > div > a:nth-child(2){
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
footer > div > a{
	padding-left: 10px;
	padding-right: 10px;  
}


/* END FOOTER */



/* HOME PAGE */
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
/* END SINGLE CATEGORY PAGE */


