*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-size: 14px;
    color: #fff; 
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 275px;
}
#sidebar-wrapper {
    z-index: 1000;
    left: 275px;
    width: 0;
    height: 100%;
    margin-left: -275px;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 275px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -275px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.profile, .main{
    position: relative;
    min-height: 1px;
    float: left;
}

/*PROFILE*/
.profile{
    height: 100%;
    background: #353541;  
    position: relative;
    min-height: 1px;
    float: left;
}
#portrait {
    background: url('../images/Portrait.jpg') no-repeat center center;
    background-size: cover;
    width: 275px;
    height: 220px;
    position: relative;
}
#portrait div {
    position: absolute;
    left: 30px;
    bottom: 0px;
}
#portrait div h2{
    font: 500 32px 'Raleway', sans-serif;
}
#portrait p {
    font: 500 16px/15px 'Raleway', sans-serif;
}
.btn-close {
    position: absolute;
    top: 10px;
    left: 20px;
}
.sidenav {
    background-color: #353541;
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 1px;
    float: left;
}
.nav > div {
    border-bottom: 1px solid #242431;
    padding: 15px 10px;
}
.nav > div > a {
    color: #fff;
    font: 500 22px 'Raleway', sans-serif;
}

/** HEADER **/
.main{
    width: 100%;
    position: relative;
}
.container-fluid {
    padding: 0;
}
#content-header{
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    width: 80%;
}
.box{
    border: 1px solid #fb6470;
    background-color: #fb6470;
    margin-top: 45px;
}
#header .box {
    border-radius: 4px;
    padding: 15px 45px 15px 45px;
    font: 500 22px 'Raleway', sans-serif;
}
#header {
    background: url('../images/Header.jpg') no-repeat center center;
    background-size: cover;
    height: 440px;
    position: relative;
}
#header div h1{
    font: 600 48px 'Raleway', sans-serif;
}
#header div h5{
    font: 500 14px 'Raleway', sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
a.btn.glyphicon.glyphicon-menu-hamburger {
    margin: 15px;
    font-size: 2.2em;
    color: #fb6470;
}
h1.name{
    font: 500 48px 'Raleway', sans-serif;
    border-top: 2px solid #fb6470;
    border-bottom: 2px solid #fb6470;
    width: 330px;
    margin: auto; 
    padding-bottom: 10px;
    margin-bottom: 15px;
}
/* END HEADER */

/* FOOTER */
footer{
    padding-top: 80px;
}
.message{
    width: 45%;
    float: left;
    position: relative;
    padding-bottom: 80px;
} 
footer .message div:nth-child(2){
    border-right: 1px solid #cccccc;        
    padding: 30px 80px 0px 115px; 
}
footer h4 {
    color: black;
    margin-bottom: -10px;
    font: 500 22px 'Raleway', sans-serif;
    margin-left: 115px;
}
.form-control{
    margin-bottom: 20px; 
    border-radius: 0px;
    border-color: black;
    font: italic 500 14px 'Raleway', sans-serif;
}
.message input:nth-last-child(1){
    height: 100px;
    padding-bottom: 74px;
}
footer .box {
    padding: 12px 18px;
    font: 500 16px 'Raleway', sans-serif;
    margin-top: 0;
}
.message div:nth-child(3) {
    text-align: right;
    margin-right: 80px;
}
footer ul{
    float:left;
    color: #3e3e3e;
}
footer ul li img, footer ul li div{
    float: left;
}
footer ul li{
    list-style: none;
    overflow: hidden;
    padding: 10px 50px;
}
footer ul li h4, footer ul li p, footer ul li img{
    margin: 15px auto 15px 10px;
}
footer ul li h4{
    font: 500 18px 'Raleway', sans-serif;
}
footer ul li p{
    font: 500 14px 'Raleway', sans-serif;
}
footer > div:nth-child(3){
    clear: both;
    border-top: 1px solid #cccccc;
    margin-left: 90px;
    margin-right: 80px;
    text-align: center;
    padding-top: 30px;
}
footer > div > p{
    size: 12px;
    color: #3e3e3e;
    margin: 10px auto 30px; 
}
footer > div > a:nth-child(2){
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
footer > div > a{
    padding-left: 10px;
    padding-right: 10px;  
}
/* END FOOTER */

/* HOME PAGE */
div.main article, #my-skills{
    padding: 85px 85px 0 95px;
}
div.main li{
    list-style:none;
}
div.main div.entry{
    padding: 0 10px 85px 20px;
    border-bottom: 1px solid #e5e5e5;
}
div.main div.entry h2{
    font: 600 32px 'Raleway', sans-serif;
    color: #3e3e3e;
    padding: 18px 0 20px 0;
    margin-bottom: 35px;
    position: relative;
    top: 0;
    left: 0;
}
div.main div.entry h2:after{
    content:"";
    display:block;
    border: 1px solid #fb6470;
    width: 75px;
    position: absolute;
    left: 0;
    bottom:0;
}
#about-me p{
    font: 500 14px 'Raleway', sans-serif;
    color: #747474;
    margin-bottom: 25px;
}
#about-me li{
    background-color:#f9f9f9;
    font: 500 18px 'Raleway', sans-serif;
    color: #3e3e3e;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
}
#about-me li span strong{
    font-weight: 600;
}
#about-me div{
    width: 50%;
    float: left;
}
#about-me #image{
    height: 497px;
    background-color:#353541;
    width: 40%;
    margin-left: 10%;
}
#about-me:after{
    content:"";
    display:block;
    clear:both;
}
#work-ex, #education{
    position: relative;
    height: 700px;
    top:20px;
    left: 0;
}
#work-ex li, #education li{
    background-color: #fff;
    width: 32px;
    height: 32px;
    border: 2px solid #010101;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top:0;
    left:0;
}
#work-ex li:after, #education li:after{
    content: "";
    display:block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 50%;
    height: 50%;
    background-color:#fb6470;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #010101;
}
#work-ex li:nth-of-type(2n+1), #education li:nth-of-type(2n+1){
    margin-bottom: 125px;
}
#work-ex li:nth-of-type(2n), #education li:nth-of-type(2n){
    margin-bottom: 80px;
}
#work-ex li:last-of-type, #education  li:last-of-type {
    margin:0;
}
#work-ex ul, #education ul{
    position: absolute;
    top:140px;
    left: 45%;
    width:35px;
    background-image: -webkit-linear-gradient(90deg,#fff,#fff 48%,#010101 48%,#010101 52%,#fff 52%,#fff);
    background-image: -moz-linear-gradient(90deg,#fff,#fff 48%,#010101 48%,#010101 52%,#fff 52%,#fff);
    background-image: -moz-linear-gradient(90deg,#fff,#fff 48%,#010101 48%,#010101 52%,#fff 52%,#fff);
    background-image: -o-linear-gradient(90deg,#fff,#fff 48%,#010101 48%,#010101 52%,#fff 52%,#fff);
    background-image: -ms-linear-gradient(90deg,#fff,#fff 48%,#010101 48%,#010101 52%,#fff 52%,#fff);
    background-image: linear-gradient(90deg,#fff,#fff 48%,#010101 48%,#010101 52%,#fff 52%,#fff);
}
#work-ex li div, #education li div{
    position: absolute;
    min-width: 300px;
    padding: 15px;
    background-color: #353541;
    font: 500 14px 'Raleway', sans-serif;
    color: #fff;
    border-radius: 10px;
}
#work-ex li:nth-of-type(2n+1) div, #education li:nth-of-type(2n+1) div{
    top: -10px;
    left: 70px;
}
#work-ex li:nth-of-type(2n) div, #education li:nth-of-type(2n) div{
    bottom: 0;
    right: 70px;
}
#work-ex li div:after, #education li div:after{
    position: absolute;
    display:block;
    content:"";
    width:0;
    height:0;
    border: solid #353541;
    border-width: 10px 12.5px;
}
#work-ex li:nth-of-type(2n+1) div:after, #education li:nth-of-type(2n+1) div:after{
    border-color: #353541 #353541 transparent transparent;
    top: 25px;
    left: -24px;
}
#work-ex li:nth-of-type(2n) div:after, #education li:nth-of-type(2n) div:after{
    border-color:transparent transparent #353541 #353541;
    bottom: 15px;
    right: -24px;
}
#work-ex li h3, #education li h3{
    font: 600 16px 'Raleway', sans-serif;
    margin: 0;
}
#work-ex li .at, #education .at{
    font: 500 16px 'Raleway', sans-serif;
    padding: 10px;
}
#work-ex li a, #education li a{
    text-decoration: none;
    font: 500 18px 'Raleway', sans-serif;
    color: #fb6470;
    text-transform: uppercase;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
}
#my-skills{
    background-color:#1d1d24;
    color: #fff;
    font: 500 18px 'Raleway', sans-serif;
    padding-left: 115px;
    padding-bottom:65px;
    margin-top: 20px;
}
#my-skills h2{
    font: 600 32px 'Raleway', sans-serif;
    color: #fff;
}
#my-skills h3{
    font: 500 18px 'Raleway', sans-serif;
    padding: 10px 0 10px;
}
#my-skills ul{
    width: 50%;
    float: left;
}
#my-skills li{
    position: relative;
    top:0;
    left: 0;
}
#my-skills:after{
    content:"";
    display:block;
    clear: both;
}
#my-skills li input{
    text-align: center;
    width: 40px;
    border: none;
    background-color: #1d1d24;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 45px;
    left: 280px;
}
#my-skills .bar{
    width: 265px;
    height: 5px;
    background-color: #bcbcbe;
    position: relative;
    top:0;
    left:0;
}
#my-skills > ul > li.project > div > div {
    background: #fb6470;
}
#my-skills > ul > li.project > div > span {
    width: 20px;
    height: 20px;
    background-color: #fb6470;
    position: absolute;
    top:-8px;
    border-radius: 50%; 
}
/* END HOME PAGE */


/* PORTFOLIO PAGE */
div.main div#portfolio{
    padding: 40px 15px 0px 115px;
}
div.main div#portfolio h2{
    font: 600 32px 'Raleway', sans-serif;
    color: #3e3e3e;
    padding: 18px 0 20px 0;
    margin-bottom: 35px;
    position: relative;
    top: 0;
    left: 0;
}
div.main div#portfolio h2:after{
    content:"";
    display:block;
    border: 1px solid #fb6470;
    width: 75px;
    position: absolute;
    left: 0;
    bottom:0;
}
.portfolio-tile { 
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 355px;
  margin: 0 20px 20px;
  padding: 0;
  background-color: #01b9c3;
}
#color2{
    background-color: #1e2e3e;
}
#color3{
    background-color: #3f3d3e;
}
#color4{
    background-color: #0093b5;
}
#color5{
    background-color: #353541;
}
#color6{
    background-color: #6176ab;
}
nav.navbar div.container-fluid{
    padding: 0 15% 0 0;
    margin-bottom: 50px;
}
nav.navbar ul.nav li{
    padding: 0;
}
nav.navbar ul.nav a{
    font: 500 18px 'Raleway', sans-serif;
    color: #3e3e3e;
    padding: 10px 15px 10px 15px;
}
nav.navbar ul.nav li:nth-child(4), nav.navbar ul.nav li:nth-child(3){
    text-align: right;
}
nav.navbar ul.nav li:nth-child(2){
    text-align: center;
}
nav.navbar ul.nav a:hover, nav.navbar ul.nav a:active {
    border-bottom: 2px solid #fb6470;
}

.portfolio-tile h3 {
  font: 500 22px 'Raleway', sans-serif;
  margin-top: 17px;
  margin-bottom: 10px;
  margin-left: 17px;
}
div.portfolio-tile {
    margin-bottom: 40px;
}
.portfolio-tile p {
  font: 500 16px 'Raleway', sans-serif;
  margin-bottom: 20px;
  margin-left: 17px;
}
.portfolio-tile a {
  color: #ffffff;
  margin-left: 17px;
  border-bottom: 1px solid;
}
.portfolio-tile a:hover{
    text-decoration: none;
}
/* END PORTFOLIO PAGE */

/* SINGLE PORTFOLIO PAGE */
div#single-portfolio {
    color: #333333;
    padding: 0 90px 10px 115px;
}
div#single-portfolio div#img-title{
    background: #333333;
    height: 450px;
    width: 100%;
}
div.title {
    background: #3d4f59;
    padding: 30px 0 10px 15px;
    color: #fff;
}
div.title h3{
    margin: 0;
    font: 500 32px 'Raleway', sans-serif;
}
div.title h3{
    margin: 0;
    font: 500 32px 'Raleway', sans-serif;
}
div.title h4{
    margin-top: 20px;
    font: 500 18px 'Raleway', sans-serif;
}
div#single-portfolio p{
    font: 400 16px 'Raleway', sans-serif;
}
div#single-portfolio p:nth-child(3) {
    margin: 35px 40% 200px 0;
}
div#single-portfolio p:nth-child(4) {
    margin: 35px 55% 10px 0;
}
div#single-portfolio p:nth-child(5) {
    margin: 40px 20% 80px 0;
}
div#single-portfolio p:nth-child(6) {
    background: #333333;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 160px;
    text-align: center;
    font: 500 18px 'Raleway', sans-serif;
    margin-bottom: 20px;
}/*comments*/
div#single-portfolio div.row h4{
    font: 500 18px 'Raleway', sans-serif;
}
div#single-portfolio > div.row > div > p:nth-child(4){
    font: 500 16px 'Raleway', sans-serif;
    margin-top: 25px;
}
div#single-portfolio .message {
    padding: 25px 20px 80px 0;
}
#submit-btn{
    width: 100%;
    background-color: #333333;
    color: #fff;
    padding: 10px;
}
/* END SINGLE PORTFOLIO PAGE */

@media(min-width:768px) {
    #wrapper {
        padding-left: 275px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 275px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}